body{
    background-color: #cfdbd5;
    margin: 0;
}

h1{
    margin: 1rem;
    color: #333533;
}

.calculator-features{
    margin: 1rem;
}

#current-total{
    margin: 1rem;
}

#calculation-history{
    margin: 1rem;
}

#stretch-goals{
    margin: 1rem;
    margin-top: 3rem;
}

h2{
    color: #333533;
}

#real-calculator-features{
    background-color: #f5cb5c;
    border: 1px solid #333533;
    border-radius: 10px;
    padding: 5px;
    height: 250px;
    width: 200px;
}
#display{
    display: inline-block;
}
#real-input-field{
    background-color: white;
    border: 1px solid #333533;
    height: 20px;
    width: 150px;
    display: inline-block;
    margin-top: 8px;
}

#real-clear-button{
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
}  

.real-buttons{
    margin: .4rem;
}

#real-equal{
    margin: .4rem
}

#real-total{
    margin: 5px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #333533;
    height: 50px;
    width: 185px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    color: #333533;
}