body{
    background-color: #cfdbd5;
    margin: 0;
}

h1{
    margin: 1rem;
}

.calculator-features{
    margin: 1rem;
}

#current-total{
    margin: 1rem;
}

#calculation-history{
    margin: 1rem;
}

#stretch-goals{
    margin: 1rem;
    margin-top: 3rem;
}

#real-calculator-features{
    background-color: #f5cb5c;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 250px;
    width: 200px;
}

#real-clear-button{
    margin: 10px;
}

.real-buttons{
    margin: .4rem;
}

#real-total{
    margin: 5px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 185px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
}